/*small text style */
#smalltext * {font-size: 17px}
#smallertext > li {font-size: 40px;}

/* test */

/* navbar style */
.navbar-brand {font-size: 30px; margin-right: 200px;margin-left: 150px;}
.nav-link {font-size: 30px; margin-right: 50px;text-align: center;}
#mysidebar-content {width:100%;}

/*sidebar style */
#mysidebar {max-width: 15%;margin-left: 350px;margin-top: 50px; }
#myprofilepic {max-width: 75%; margin-top: 20px;text-align: center;}
#myname {font-size: 25px;margin-top: 50px;color: black;}
#description1 {font-size: 15px;}

/*contact info */
#contactrows {line-height: 30px;}
#contact1 {text-align: left !important;}
#col1 {max-width: 20%;text-align: right;}

/* content texts */
#mycontent {margin-left: 150px;margin-top: 50px;margin-right: 200px; }
#hobbieslist {font-size: 17px;line-height: 220%;}

